body {
    background: rgb(65,144,209);
    background: linear-gradient(0deg, rgba(65,144,209,1) 0%, rgba(80,209,200,1) 100%);
}

.createGameContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 30vh;
}

.createGameForm input[type=text] {
    text-align: center;
    border-bottom: 1px solid #ffffff;
    color: #efefef;
    
}

.createGameForm ::placeholder {
    color: #ffffff;
}

.createGameForm input[type=submit] {
    padding: 5%;
    border-radius: 5px;
}