.gamePageContainer {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, 0.25fr);
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
}

.gamePageContainer h4 {
    grid-column: 1 / -1;
    margin: auto;
    color: #4c4c4c;
}

textarea {
    resize: none;
}

.canvasContainer {
    grid-column: 2;
    grid-row: 2;
    border: 1px solid #000000;
    padding-left: 10px;
    width: 612px;
    height: 405px;
    background-color: #ffffff;
}

.chatContainer {
    grid-column: 4/10;
    grid-row: 2;
    background-color: #ffffff;
    padding: 0 2%;
}

.messages {
    grid-row: 2;
    height: 300px;
    overflow: scroll;
}

#chat-input {
    background-color: #f7f7f7;
    text-align: center;
    padding: 2%;
}

/** Styles for the modal **/
.instructionsModal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.instructionsModalContent {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    width: 40%;
    border-radius: 15px;
    text-align: center;
}

.instructionsModalContent button {
    padding: 2%;
    border-radius: 15px;
    background-color: #4285F4;
    color: white;
}