.joinGameContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    justify-items: center;
    align-content: center;
    text-align: center;
}

form {
    grid-column: 3;
    grid-row: 3;
}