.joinGameContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 30vh;
}

.joinGameContainer input[type=text] {
    text-align: center;
    border-bottom: 1px solid #adadad;
    color: #2d2d2d;
}

.joinGameContainer ::placeholder {
    color: #727272;
}

.joinGameContainer input[type=submit] {
    padding: 2%;
    border-radius: 5px;
}