body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

#background {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: -1;
}

.page-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.chatbox {
  background-color: rgba(255, 255, 255, 0.7);
  border-color: gray;
  border-width: 5px;
}

.chatbox-send {
  margin-top: 20px;
}

#chatbox-messages {
  height: 40vh;
  overflow: scroll;
}